<%- include('./partials/header') %>

    <h1 id="title"><%= title %></h1>
    <p id="slogan">Discover, Document, Display - One Adventure at a Time</p>
    <div id="travel-planning">
        <img src="/travel-images/travel-planning.png">
    </div>
    <p id="log-in"><strong>LOG IN TO GET STARTED</strong></p>
<%- include('./partials/footer') %>

 
