<%- include('./partials/header') %>

    <h1 id="title"><%= title %></h1>
    <p id="slogan">Discover, Document, Display - One Adventure at a Time</p>
    <img src="https://file+.vscode-resource.vscode-cdn.net/Users/abisamson/GA/projects/travel-diary/travel-images/travel-pic.png?version%3D1698953494210">
<%- include('./partials/footer') %>

 
