<%- include('../partials/header') %>

<h1>My Trips</h1>
<ul id="my-trips"> 
    <% entries.forEach(function(e) { %>
      <li> 
        <a id="locations" href="/entries/<%= e._id %>"><%= e.location %></a>
      </li>
    <% }); %>
</ul> 

<%- include('../partials/footer') %>