<%- include('../partials/header') %>

<h2>My Trips</h2>
    <p>Locations:</p>
  <tbody>
    <% entries.forEach(function(e) { %>
      <tr>
        <td><a href="/entries/<%= e._id %>"> <%= e.location %></a></td>
      </tr>
    <% }); %>
  </tbody>

<%- include('../partials/footer') %>