<%- include('../partials/header') %>

<h1>My Trips</h1>
<ul> 
    <p>Locations:</p>
    <% entries.forEach(function(e) { %>
      <li> 
        <a href="/entries/<%= e._id %>"><%= e.location %></a>
      </li>
    <% }); %>
</ul> 

<%- include('../partials/footer') %>