<%- include('../partials/header') %>

<h2>Enter a New Trip</h2>
<form action="/entries" method="POST">
  <label>Location:
    <input type="text" name="location">
  </label>
  <label>Lodging:
    <input type="text" name="lodging">
  </label>
  <label>Activities:
    <input type="text" name="activities">
  </label>
  <label>Restaurants:
    <input type="text" name="restaurants" >
  </label>

  <button type="submit">Add Trip</button>
</form>
<p><%= errorMsg %></p>

<%- include('../partials/footer') %>