* {
  background-color: blanchedalmond;
  font-family: 'Playfair Display', serif;
}


body > nav {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  height: 50px;
  background-color: #8c490a; 
  padding: 0 20px; 
  border-bottom: 1px solid #ccc; 
}
nav a {
  text-decoration: none; 
  margin: 0 10px; 
  background-color: #8c490a
}

a {
  color: #f9f9f9;
}

h1 {
  display: grid;
  grid-row: 2 / span 1;
  grid-column: 1 / span 3;
  justify-content: center;
  font-size: 40px;
}

#title {
  text-align: center;
}

#slogan {
  text-align: center;
}
#log-in {
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 30px;
}


.login img {
  height: 20px;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

li {
  margin-bottom: 10px; 
}

#locations {
  color:#496944
}

.comment-user img {
  border-radius: 50%;
  height: 40px;
}

#my-trips {
  display: grid;
  grid-row: 2 / span 2;
  grid-column: 1 / span 1;
  padding-left: 50px;
  padding-top: 100px;
  font-size: x-large;
}
#trip-form {
  display: grid;
  grid-row: 2 / span 1;
  grid-column: 1 / span 3;
  padding-bottom: 50px;
  font-size: 50px;
}

#trip-entry {
  display: flex;
  flex-direction: column;
  max-width: 400px; 
  margin: 0 auto; 
  padding: 20px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #496944;
}

#trip-entry label {
  margin-bottom: 10px; 
  background-color: #496944;
  color: #f9f9f9;
}

#trip-entry input {
  width: 90%; 
  padding: 10px; 
  margin-bottom: 10px; 
  border: 1px solid #000000;
  border-radius: 5px;
}

#trip-entry button {
  background-color: #8c490a;
  color: white; 
  border: none;
  padding: 10px 20px; 
  border-radius: 5px;
  cursor: pointer;
}


#show-page {
  display: flex;
  flex-direction: column;
  max-width: 600px; 
  margin: 0 auto;
}

#show-page > div {
  margin-bottom: 10px; 
  font-size: 18px; 
}


#show-page a {
  text-decoration: none; 
  color: #496944; 
  font-weight: bold; 
  font-size: 18px; 
  transition: color 0.3s; 
}


#show-page a:hover {
  color: #ffcc00; 
}


#show-page h2 {
  margin-top: 30px; 
  font-size: 24px;
}


#add-comment-form label {
  font-size: 18px; 
}


#add-comment-form textarea {
  width: 100%; 
  height: 40px; 
  font-size: 16px; 
}

#add-comment-form input[type="submit"] {
  background-color: #496944; 
  color: #fff; 
  border: none; 
  padding: 10px 20px; 
  font-size: 18px; 
  cursor: pointer;  
}


table {
  width: 100%; 
  border-collapse: collapse; 
  margin-top: 20px; 
}

table th {
  background-color: #496944; 
  color: #fff; 
  padding: 10px; 
  text-align: left; 
  font-size: 18px; 
}


table td {
  padding: 10px; 
  font-size: 16px; 
  border-bottom: 1px solid #ccc; 
}


.comment-user img {
  width: 30px; 
  height: 30px; 
  border-radius: 50%; 
  margin-right: 10px; 
}

#avatar-img {
  width: 200px;
  height: 200px;
  border: 2px solid #000000;
  border-radius: 50%;
  object-fit: cover;
}

.profile-img {
  text-align: center;
}

.user-info {
  text-align: center;
}

#travel-planning {
  display: flex;
  justify-content: center;
  align-items: center;
}

#travel-planning img {
  width: 500px; 
  height: auto; 
  border: 3px solid black;
}

#edit-btn {
  text-align: center;
}

#edit {
  color: #496944;
}

#trip-details {
  border-collapse: collapse;
  width: 100%;
  margin: 20px 0;
}

#trip-details th {
  background-color: #f2f2f2;
}

#trip-details th, #trip-details td {
  padding: 10px;
  text-align: left;
  border: 1px solid #000000;
}

#trip-details tr:nth-child(even) {
  background-color: #f2f2f2;
}

#trip-details th {
  background-color:#496944;
  color: white;
}

#category {
  font-weight: 900;
}